@import 'variables';

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html {
 background: $white-darker;
}

body {
 font-family: $font-family;
 font-size: $base-font-size;
}


.wrapper-content {
 .wrapper-main {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding-left: 6vw;
  padding-right: 6vw;
  background: url('/assets/svg/KreivesAsset1.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;

  .logo {
   img {
    position: relative;
    top: 7em;
    left: 2em;
   }
  }

  .main-title {
   position: relative;
   color: $white;
   top: 14em;
   left: 2em;

   h1 {
    top: .1em;
    font-size: 5.11rem;
    font-weight: $black-font-weight;
    text-transform: uppercase;
   }

   h3 {
    font-size: 4.11rem;
    font-weight: $bold-font-weight;
   }

   h5 {
    position: relative;
    top: .1em;
    width: 10em;
    font-size: 3.55rem;
    font-weight: $bold-font-weight;
    top: 2em;
   }

   .chapter {
    position: relative;
    color: $white;
    font-size: 13.11rem;
    font-weight: $black-font-weight;
    text-align: right;
    right: .25em;
    top: -.5em;
    text-shadow: 2px 2px 180px rgba(55, 63, 80, 0.3); // instead of 80px made 180px to be more similiar as in the task

    &:before {
     position: absolute;
     content: '';
     height: .065em;
     right: .05em;
     bottom: -.003em;
     width: .35em;
     background-color: $white;
    }
   }
  }

  .second-half {
   position: relative;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-between;
   gap: 1em;
   margin-top: 14em;
   text-transform: uppercase;

   .card {
    max-width: 25em;

    img {
     max-width: 25em;
     max-height: 100%;
     border-radius: 4em;
     box-shadow: 2px 2px 80px rgba(55, 63, 80, .3);
    }

    p {
     text-align: center;
     font-size: 1.66rem;
     font-weight: $bold-font-weight;
     color: $pink;
     max-width: 100%;
     margin-top: .25em;
    }
   }

   .card:nth-child(2) {
    justify-self: center;
    margin-top: -8em;

    img {
     box-shadow: 2px 2px 180px rgba(237, 66, 150, .5);
    }

    p {
     color: $black;
     opacity: 35%;
    }
   }

   .card:nth-child(3) {
    justify-self: end;

    img {
     box-shadow: 2px 2px 80px rgba(55, 63, 80, .3);
    }

    p {
     color: $black;
     opacity: 35%;
    }
   }


  }
 }

 .hero-text {
  color: $black;
  font-size: 1.66rem;
  font-weight: $light-font-weight;
  max-width: 62%;
  text-align: left;
  float: right;
  margin-top: 2em;

  p {
   margin-bottom: 1em;
  }
 }
}

// TREČIAS BLOKAS
.chapter3 {
 width: 100%;
 height: 100vh;
 padding-left: 6vw;
 padding-right: 6vw;
 margin-top: 25em;
 overflow: hidden;
 position: relative;

 .background-curve {
  background-image: url('/assets/svg/KreivesAsset3.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -25em;
 }

 div {
  .chapter {
   position: relative;
   color: $white;
   font-size: 13.11rem;
   font-weight: $black-font-weight;
   text-align: left;
   margin: .2em 0 0.4em 0;
   text-shadow: 2px 2px 180px rgba(55, 63, 80, 0.3); // instead of 80px made 180px to be more similiar as in the task

   &:before {
    position: absolute;
    content: '';
    height: .065em;
    left: .07em;
    bottom: -.11em;
    width: .35em;
    background-color: $white;
   }
  }

  h3 {
   color: $pink;
   font-weight: $bold-font-weight;
   font-size: 4.11rem;
  }
 }

 .doctors-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;

  .doctor-card {
   max-width: 74%;
   margin: 2em;
   position: relative;
   padding-top: 22em;

   &:nth-child(2) {
    top: -18em;

    .doctor-text {
     box-shadow: 2px 2px 180px rgba(55, 63, 80, 0.5);
    }

    img {
     right: -3.5em;
     position: absolute;
    }
   }

   img {
    width: 100%;
    margin-top: -20.8em;
    right: -4.25em;
    position: absolute;

   }

   .doctor-text {
    background-color: $white;
    padding: 5em 1.2em 2em 1.2em;
    border-radius: 2.77em;
    box-shadow: 2px 2px 180px rgba(237, 66, 150, .5);

    h5 {
     font-size: 2.22rem;
     font-weight: $bold-font-weight;
     color: $pink;
     text-align: center;
     padding: .5em 0;
    }

    p:nth-child(2) {
     font-weight: $light-font-weight;
     font-size: 1.66rem;
     padding: .5em 0;
     margin: 0 auto;
     width: 15em;
     text-align: center;
     position: relative;

     &:after {
      position: absolute;
      content: '';
      height: 2px;
      width: 15em;
      bottom: -.8em;
      left: -0.2em;
      background: $black;
     }
    }

    p:nth-child(3) {
     font-weight: $light-font-weight;
     font-size: 1.66rem;
     text-align: left;
     padding-top: 2em;
     padding-bottom: 1em;

    }
   }
  }
 }

 .background-curve2 {
  background-image: url('/assets/svg/KreivesAsset2.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 60em;
  left: -5em;
  z-index: -2;
 }
}

// ŠEŠTAS BLOKAS
.chapter6-wrapper {
 .chapter6 {
  width: 100%;
  height: 100vh;
  padding-left: 6vw;
  padding-right: 6vw;
  margin-top: 2em;
  margin-bottom: 30em;
  overflow: hidden;
  position: relative;

  .chapter6-curve {
   background-image: url('/assets/svg/KreivesAsset7.svg');
   background-repeat: no-repeat;
   background-size: 100%;
   width: 100%;
   height: 100%;
   position: absolute;
   top: -28em;
   left: -1em;
   z-index: -2;
  }

  .text-wrapper {
   .chapter {
    position: relative;
    color: $white;
    font-size: 13.11rem;
    font-weight: $black-font-weight;
    text-align: right;
    margin: .2em 0 0.4em 0;
    text-shadow: 2px 2px 180px rgba(55, 63, 80, 0.3); // instead of 80px made 180px to be more similiar as in the task

    &:before {
     position: absolute;
     content: '';
     height: .065em;
     right: .07em;
     bottom: -.11em;
     width: .35em;
     background-color: $white;
    }
   }

   h5 {
    font-weight: $bold-font-weight;
    font-size: 3.722rem;
    margin-bottom: .3em;
    color: $black;
   }

   h4 {
    font-weight: $bold-font-weight;
    font-size: 4.444rem;
    color: $black;
    text-indent: .8em;

   }

   h3 {
    font-weight: $black-font-weight;
    font-size: 6.666rem;
    color: $pink;
    padding-bottom: 1em;
   }
  }

  p {
   font-size: 3.333rem;
   font-weight: $light-font-weight;
   color: $black;
   text-align: center;
   padding-bottom: 1.2em;

   span {
    font-weight: $bold-font-weight;
    font-size: 6.444rem;
    color: $pink;

   }
  }

  form {
   display: grid;
   place-content: center;
   column-gap: 0;
   row-gap: 5em;
   grid-template-areas: "name mobile"
    "submit submit";
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 42% 42%;

   .name__input {
    grid-area: name;
   }

   .mobile__input {
    grid-area: mobile;
   }

   .submit__input {
    grid-area: submit;
   }

   input:nth-child(-n+2) {
    height: 2em;
    width: 13em;
    border: 2px solid $black;
    border-radius: 30px;
    font-size: 3rem;
    padding: .5em 2em;
    margin-right: 2em;
    display: grid;
    justify-self: right;

    &::placeholder {
     color: $black;
     opacity: .5;
     font-size: 3rem;
     text-align: center;
    }
   }

   input:nth-child(3) {
    font-size: 3.888rem;
    font-weight: $bold-font-weight;
    height: 2em;
    width: 13em;
    background: red;
    color: $white;
    border-radius: 30px;
    text-transform: uppercase;
    border: none;
    display: grid;
    justify-self: center;
    box-shadow: 2px 2px 180px rgba(237, 66, 150, .6);

   }
  }

  .arrow {
   img {
    width: 100%;
    height: 43em;
    position: absolute;
    margin-left: 29em;
    margin-top: -24em;
   }
  }
 }

 .footer-wrapper {
  position: relative;
  width: 100%;
  text-align: left;
  color: $white;
  .footer-content {
   padding-left: 6vw;
  padding-right: 6vw;
   position: absolute;
   bottom: 0;
   z-index: 1000;
   display: grid;
   gap: 2em;
   grid-template-columns: 33% 33% 33%;
   place-content: center;
   line-height: 1.6em;
   width: 100%;
   .address-details {
    justify-self: end;
    margin-right: -8em;

    h5 {
     font-size: 1.2em;
     font-weight: $bold-font-weight;
     text-transform: uppercase;
     margin-bottom: 1.1em;
    }
    p {
     line-height: 1.8em;
    }
   }

   .working-hours {
    justify-self: center;
    margin-left: 4em;
    h5 {
     font-size: 1.2em;
     font-weight: $bold-font-weight;
     text-transform: uppercase;
     margin-bottom: 1.1em;
    }
    p {
     line-height: 1.8em;
    }
    span a img {
     width: 1.2em;
     height: 100%;
     margin-right: 1em;
     margin-top: -2em;
    }
    .insta {
     width: 2em;
    }
    &:before {
     position: absolute;
     content: '';
     width: .2em;
     height: 10em;
     background: $white;
     margin-left: -3em;
    }
   }

   img {
    width: 25em;
   }

  }

  .footer-bckgr {
   position: relative;
   height: 100%;
   z-index: 100;
   bottom: -7em;

   .map {
    background-image: url('/assets/img/map-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 49em;
    margin-top: 5em;
    bottom: 0;
    box-shadow: 0 0 190px 90px $white inset;
    position: absolute;
   }

   .footer-curve {
    background-image: url('/assets/svg/KreivesAsset9.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 49em;
    position: absolute;
    bottom: 0;
    opacity: .85;
   }
  }
 }
}